// Color palette
$color-brand:           #00cdaa;
$color-brand-highlight: lighten(#00cdaa, 15%);
$color-brand-shadow:    darken(#00cdaa, 15%);
$color-link:            $color-brand;

$color-gray:            #666;
$color-gray-light:      #ccc;
$color-gray-dark:       #333;

$color-highlight:       rgba(255, 255, 255, 0.05);
$color-shadow:          rgba(0, 0, 0, 0.05);


// ui
$color-ui:              $color-gray-light;

// text
$color-text:            $color-gray-dark;

// links
$color-link:            $color-brand;
$color-link-hover:      $color-brand-shadow;

// buttons
$color-btn:             $color-brand;
$color-btn-hover:       $color-brand-shadow;
