button {
  color: #fff;
  background: $color-brand;
  border: 0;
  padding: .5rem 1rem;
  outline: 0;
  cursor: default;
  text-transform: uppercase;
  font-size: .75em;
  @include no-select();

  &:hover {
    background: lighten($color-brand, 10%);
  }

  &:active {
    background: darken($color-brand, 10%);
  }
}
