figure {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 100px;
}

img {
  position: relative;
  display: block;
  height: auto;
  min-width: 200px;
  max-width: 100%;
  margin: auto;
}

figcaption {
  display: block;
  color: lighten($color-copy, 10%);
  font-size: 0.75rem;
  line-height: 2;
}
