a {
  position: relative;
  color: $color-copy;
  text-decoration: none;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px  1px 0 #fff, 1px  1px 0 #fff;
  @include underline(lighten($color-copy, 75%));

  &:hover,
  &:focus {
    color: $color-link;
    @include underline($color-link);
  }
}
