body {
  font-size: 16px;
  line-height: 1.5;
  color: $color-copy;
  @include font-smoothing();
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0 $spacing-unit-small;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-heading;
  margin-top: $spacing-unit;
  margin-bottom: $spacing-unit;
}

h1 {
  font-size: 2.25rem;
  line-height: 1.33333333;
}

h2 {
  font-size: 1.75rem;
  line-height: 1.7142857143;
}

h3 {
  font-size: 1.5rem;
  line-height: 2;
}

h4 {
  font-size: 1.25rem;
  line-height: 1.2;
}

h5 {
  font-size: 1rem;
  line-height: 1.5;
}

h6 {
  font-size: 0.875rem;
  font-family: $font-copy;
  line-height: 1.7142857143;
  margin-bottom: 0;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: .25rem;
  color: #444;
}

p {
  font-size: 1rem;
  word-break: break-word;
}

small {
  font-size: 0.875rem;
  line-height: 1.7142857143
}

blockquote {
  box-shadow: inset 3px 0 0 0 $color-brand;
  background-color: rgba($color-brand, .05);
  padding-top: $spacing-unit;
  overflow: hidden;
}

@media only screen and (min-width: 64rem) {
 body {
  font-size: 18px;
 }
}
