body {
  font: 16px / 1.5 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Bitter', serif;
}

h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

h2 {
  font-size: 1.75rem;
  line-height: 1.7142857143;
}

h3 {
  font-size: 1.5rem;
  line-height: 2;
}

h4 {
  font-size: 1.25rem;
  line-height: 2.4;
}

h5 {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 600;
}

h6 {
  font-size: .75rem;
  font-family: 'Helvetica Neue';
  font-weight: 500;
  line-height: 2;
  text-transform: uppercase;
  letter-spacing: .25rem;
  color: #444;
}
