@import url('https://fonts.googleapis.com/css?family=Bitter|Open+Sans');

@import 'settings';
@import 'tools';

@import 'generic/box-sizing';
@import 'generic/normalize';
@import 'generic/reset';
@import 'generic/shared';

@import 'elements/form';
@import 'elements/image';
@import 'elements/link';
@import 'elements/list';
@import 'elements/page';
@import 'elements/typography';

/* Custom styling that should not be included in your project */
.o-wrapper {
  max-width: 700px;
  padding: 24px;
  margin: 0 auto;
}
