@import url('https://fonts.googleapis.com/css?family=Bitter|Open+Sans');

@import '1.settings/global';
@import '1.settings/color';

@import '2.tools/mixin';

@import '3.generic/box-sizing';
@import '3.generic/normalize';
@import '3.generic/reset';
@import '3.generic/shared';

@import '4.elements/form';
@import '4.elements/image';
@import '4.elements/link';
@import '4.elements/list';
@import '4.elements/page';
@import '4.elements/typography';

/* Custom styling that should not be included in your project */
.o-wrapper {
  max-width: 700px;
  padding: 24px;
  margin: 0 auto;
}
