@import '_1.settings.global.scss';
@import '_1.settings.color.scss';

@import '_2.tools.mixin.scss';

@import '_3.generic.box-sizing.scss';
@import '_3.generic.normalize.scss';
@import '_3.generic.reset.scss';
@import '_3.generic.shared.scss';

@import '_4.elements.form.scss';
@import '_4.elements.heading.scss';
@import '_4.elements.image.scss';
@import '_4.elements.link.scss';
@import '_4.elements.list.scss';
@import '_4.elements.page.scss';

/* Custom styling that should not be included in your project */
.o-wrapper {
  max-width: 700px;
  margin: 0 auto;
}

.o-wrapper--show-baseline {
  background: linear-gradient(rgba(0, 0, 0, .2), transparent 4.17%);
  background-size: auto 24px;
}
